## SQL Project 

#### Ariana Horn 
#### Topic: Mental Health in Tech

This project captures my interest deeply, as it resides at the intersection of technology and well-beingâ€”a space where I, alongside many of my close friends, dedicate our professional lives. In the tech industry, where the pace is relentless and the landscape of competition vast and intricate, mere proficiency is eclipsed by the need for distinction. It's not just about being skilled; it's about cultivating an edge that sets one apart.

Against this backdrop, the importance of mental health becomes ever more pronounced. I am committed to fostering greater awareness and support for mental health, with a vision to create a profound and lasting impact. My aim is to initiate a movement that not only highlights the significance of mental well-being in such high-pressure environments but also provides tangible support to those who find themselves struggling to navigate these challenges alone.

### Objective:

The purpose of this document is to shed light on the landscape of mental wellness within the tech sector over the span of 2014 to 2019, with the intent to propose strategies for a more robust and enduring well-being framework.

The insights herein are derived from data collected through questionnaires administered by Open Source Mental Illness (OSMI) over the years 2014 to 2019. These questionnaires aimed to gauge the industry's attitudes toward mental health and to ascertain the frequency and impact of mental health issues among tech professionals.

In [15]:
# Importing libraries
import numpy as np
import pandas as pd
import sqlite3 as sql
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go

In [16]:
# Import data 

import sqlite3

con = sqlite3.connect('mental_health.sqlite')

### Data Overview:

Exploring Tables and their Schema

In [17]:
# Create a cursor object
cur = con.cursor()

# Get the list of all tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

print("Tables in the database:", tables)

Tables in the database: [('Answer',), ('Question',), ('Survey',)]

In [18]:
# Print the schema of each table
for table_name in tables:
    table_name = table_name[0]  # get the name string
    print(f"Table: {table_name}")
    cur.execute(f'PRAGMA table_info({table_name});')
    info = cur.fetchall()
    for column_info in info:
        print(column_info)

Table: Answer
(0, 'AnswerText', 'VARCHAR(10000)', 0, None, 0)
(1, 'SurveyID', 'INTEGER', 0, None, 0)
(2, 'UserID', 'INTEGER', 0, None, 0)
(3, 'QuestionID', 'INTEGER', 0, None, 0)
Table: Question
(0, 'questiontext', 'VARCHAR(1000)', 0, None, 0)
(1, 'questionid', 'INTEGER', 0, None, 0)
Table: Survey
(0, 'SurveyID', 'INTEGER', 1, None, 1)
(1, 'Description', 'VARCHAR(255)', 0, None, 0)

We have three tabels 
- Answer, 4 columns
- Question, 2 colums 
- Survey, 2 colums

The SQL database contains three tables: Answer, Question, and Survey. The Answer table stores answers with a link to the survey and question, as well as the user ID. The Question table holds the question text and ID, while the Survey table records each survey's ID and description.

#### Next we are using Pandas' read_sql function to execute SQL queries on your SQLite database and load the results into Pandas DataFrames

In [23]:
answer=pd.read_sql('SELECT * FROM Answer',con)
survey=pd.read_sql('SELECT * FROM Survey',con)
q=pd.read_sql('SELECT * FROM question',con)

In [67]:
print(answer.head())
print(survey.head())
print(q.head())

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1
   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019
                                                 questiontext
questionid
1                                           What is your age?
2                                        What is your gender?
3                                What country do you live in?
4           If you live in the United States, which state ...
5                                      Are you self-employed?

In [25]:
print(answer.info())
print('-----------------------------------------------')
print(answer.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236898 entries, 0 to 236897
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AnswerText  236898 non-null  object
 1   SurveyID    236898 non-null  int64
 2   UserID      236898 non-null  int64
 3   QuestionID  236898 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.2+ MB
None
-----------------------------------------------
AnswerText    object
SurveyID       int64
UserID         int64
QuestionID     int64
dtype: object

In [26]:
print(survey.info())
print('-----------------------------------------------')
print(survey.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SurveyID     5 non-null      int64
 1   Description  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None
-----------------------------------------------
SurveyID        int64
Description    object
dtype: object

In [27]:
print(q.info())
print('-----------------------------------------------')
print(q.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   questiontext  105 non-null    object
 1   questionid    105 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB
None
-----------------------------------------------
questiontext    object
questionid       int64
dtype: object

## Tabel: Answer

- This part will give closer insights to the tabel Answer for further analysis.

In [28]:
#Count the number of unique entries in the 'AnswerText' column of a DataFrame named 'answer'

len(answer['AnswerText'].unique())

4215

In [29]:
#Checking on null values in answer 

answer.isnull().sum()

AnswerText    0
SurveyID      0
UserID        0
QuestionID    0
dtype: int64

We will also bring the column QuestionText into this analysis because it belongs together with AnswerText.

In [31]:
answer_grp=answer.groupby('QuestionID')

In [33]:
grp_q1=answer_grp.get_group(1)
grp_q1.head(10)

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1
5         33      2014       6           1
6         35      2014       7           1
7         39      2014       8           1
8         42      2014       9           1
9         23      2014      10           1

In [66]:
grp_q2=answer_grp.get_group(2)
grp_q2.head(10)

     AnswerText  SurveyID  UserID  QuestionID
1260     Female      2014       1           2
1261       Male      2014       2           2
1262       Male      2014       3           2
1263       Male      2014       4           2
1264       Male      2014       5           2
1265       Male      2014       6           2
1266     Female      2014       7           2
1267       Male      2014       8           2
1268     Female      2014       9           2
1269       Male      2014      10           2

In [76]:
grp_q118=answer_grp.get_group(118)
grp_q118.head(10)
grp_q118.tail(10)

       AnswerText  SurveyID  UserID  QuestionID
114431  Sometimes      2016    2684         118
114432  Sometimes      2016    2685         118
114433  Sometimes      2016    2686         118
114434  Sometimes      2016    2687         118
114435     Always      2016    2688         118
114436  Sometimes      2016    2689         118
114437  Sometimes      2016    2690         118
114438  Sometimes      2016    2691         118
114439  Sometimes      2016    2692         118
114440  Sometimes      2016    2693         118

In [77]:
# SQL query to find all unique SurveyID values associated with QuestionID 118
query = """
SELECT DISTINCT SurveyID
FROM Answer
WHERE QuestionID = 118;
"""

# Use pandas to execute the query and fetch the results
unique_survey_ids_for_q118 = pd.read_sql(query, con)

# Display the results
print(unique_survey_ids_for_q118)

   SurveyID
0      2016

In [73]:
unique_answers_q118 = df[df['QuestionID'] == 118]['AnswerText'].unique()
print(unique_answers_q118)

['Sometimes' 'Never' 'Always']

In [75]:
# Perform a SQL query to count the unique AnswerText entries for QuestionID 118
query = """
SELECT AnswerText, COUNT(*) as Count
FROM Answer
WHERE QuestionID = 118
GROUP BY AnswerText
ORDER BY Count DESC;
"""

# Use the pandas read_sql function to execute the query and read the results into a DataFrame
unique_value_counts_df = pd.read_sql(query, con)

# Display the results
print(unique_value_counts_df)

  AnswerText  Count
0  Sometimes    757
1     Always    343
2      Never    333

In [78]:
# SQL query to find all unique SurveyID values associated with QuestionID 32
query = """
SELECT DISTINCT SurveyID
FROM Answer
WHERE QuestionID = 33;
"""

# Use pandas to execute the query and fetch the results
unique_survey_ids_for_q32 = pd.read_sql(query, con)

# Display the results
print(unique_survey_ids_for_q32)

   SurveyID
0      2016
1      2017
2      2018
3      2019

In [80]:
query = """
SELECT
  COUNT(DISTINCT a1.UserID) as PeopleWhoWorkRemote
FROM
  Answer as a1
JOIN
  Answer as a2 ON a1.UserID = a2.UserID
WHERE
  a1.QuestionID = 118 AND a1.AnswerText = 'Always'
  AND a2.QuestionID = 32 AND a2.AnswerText = 'Yes';
"""

# Use pandas to execute the query and fetch the results into a DataFrame
people_count_df = pd.read_sql(query, con)

# Display the resulting DataFrame
print(people_count_df)

   PeopleWhoWorkRemote
0                  169

In [81]:
query = """
SELECT
  COUNT(DISTINCT a1.UserID) as PeopleWhoWorkRemote
FROM
  Answer as a1
JOIN
  Answer as a2 ON a1.UserID = a2.UserID
WHERE
  a1.QuestionID = 118 AND a1.AnswerText = 'Never'
  AND a2.QuestionID = 32 AND a2.AnswerText = 'Yes';
"""

# Use pandas to execute the query and fetch the results into a DataFrame
people_count_df = pd.read_sql(query, con)

# Display the resulting DataFrame
print(people_count_df)

   PeopleWhoWorkRemote
0                  164

In [86]:
query = """
SELECT
  COUNT(DISTINCT a1.UserID) as PeopleWhoWorkHybrid
FROM
  Answer as a1
JOIN
  Answer as a2 ON a1.UserID = a2.UserID
WHERE
  a1.QuestionID = 118 AND a1.AnswerText = 'Sometimes'
  AND a2.QuestionID = 32 AND a2.AnswerText = 'Yes';
"""

# Use pandas to execute the query and fetch the results into a DataFrame
people_count_df = pd.read_sql(query, con)

# Display the resulting DataFrame
print(people_count_df)

   PeopleWhoWorkHybrid
0                  403

Answer:

The data reveals that participants working entirely remotely or on-site responded at comparable rates. Interestingly, the response rate for participants with a hybrid work arrangement was notably higher. In light of the COVID-19 pandemic, which occurred after the 2016 survey, it would be fascinating to examine the effects of these work arrangements on individuals in 2023. The shift in work culture prompted by the pandemic makes this an especially pertinent area for future research.

## Survey Questions:

In [39]:
q.columns

Index(['questiontext'], dtype='object')

In [40]:
for index, row in q.iterrows():
    print(index, row['questiontext'])

1 What is your age?
2 What is your gender?
3 What country do you live in?
4 If you live in the United States, which state or territory do you live in?
5 Are you self-employed?
6 Do you have a family history of mental illness?
7 Have you ever sought treatment for a mental health disorder from a mental health professional?
8 How many employees does your company or organization have?
9 Is your employer primarily a tech company/organization?
10 Does your employer provide mental health benefits as part of healthcare coverage?
11 Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?
12 Would you bring up a mental health issue with a potential employer in an interview?
13 Is your primary role within your company related to tech/IT?
14 Do you know the options for mental health care available under your employer-provided health coverage?
15 Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?
16 Does your employer offer resources to learn more about mental health disorders and options for seeking help?
17 If a mental health issue prompted you to request a medical leave from work, how easy or difficult would it be to ask for that leave?
18 Would you feel comfortable discussing a mental health issue with your coworkers?
19 Would you feel comfortable discussing a mental health issue with your direct supervisor(s)?
20 Do you have medical coverage (private insurance or state-provided) that includes treatment of mental health disorders?
21 Do you know local or online resources to seek help for a mental health issue?
22 Do you have previous employers?
23 Have your previous employers provided mental health benefits?
24 Were you aware of the options for mental health care provided by your previous employers?
25 Did your previous employers ever formally discuss mental health (as part of a wellness campaign or other official communication)?
26 Did your previous employers provide resources to learn more about mental health disorders and how to seek help?
27 Was your anonymity protected if you chose to take advantage of mental health or substance abuse treatment resources with previous employers?
28 Would you have been willing to discuss your mental health with your direct supervisor(s)?
29 Would you be willing to bring up a physical health issue with a potential employer in an interview?
30 How willing would you be to share with friends and family that you have a mental illness?
31 Have your observations of how another individual who discussed a mental health disorder made you less likely to reveal a mental health issue yourself in your current workplace?
32 Have you had a mental health disorder in the past?
33 Do you currently have a mental health disorder?
34 Have you ever been diagnosed with a mental health disorder?
48 If you have a mental health disorder, how often do you feel that it interferes with your work when being treated effectively?
49 If you have a mental health disorder, how often do you feel that it interferes with your work when not being treated effectively (i.e., when you are experiencing symptoms)?
50 What country do you work in?
51 What US state or territory do you work in?
52 If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to clients or business contacts?
53 If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to coworkers or employees?
54 Do you believe your productivity is ever affected by a mental health issue?
55 If yes, what percentage of your work time (time performing primary or secondary job functions) is affected by a mental health issue?
56 Have you observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?
57 Would you feel more comfortable talking to your coworkers about your physical health or your mental health?
58 Have you ever discussed your mental health with your employer?
59 Describe the conversation you had with your employer about your mental health, including their reactions and what actions were taken to address your mental health issue/questions.
60 Have you ever discussed your mental health with coworkers?
61 Describe the conversation with coworkers you had about your mental health including their reactions.
62 Have you ever had a coworker discuss their or another coworker's mental health with you?
63 Describe the conversation your coworker had with you about their mental health (please do not use names).
64 Overall, how much importance does your employer place on physical health?
65 Overall, how much importance does your employer place on mental health?
66 If you have revealed a mental health disorder to a client or business contact, how has this affected you or the relationship?
67 If you have revealed a mental health disorder to a coworker or employee, how has this impacted you or the relationship?
68 Was your employer primarily a tech company/organization?
69 Would you have felt more comfortable talking to your previous employer about your physical health or your mental health?
70 Did you ever discuss your mental health with your previous employer?
71 Describe the conversation you had with your previous employer about your mental health, including their reactions and actions taken to address your mental health issue/questions.
72 Did you ever discuss your mental health with a previous coworker(s)?
73 Describe the conversation you had with your previous coworkers about your mental health including their reactions.
74 Did you ever have a previous coworker discuss their or another coworker's mental health with you?
75 Describe the conversation your coworker had with you about their mental health (please do not use names)..1
76 Overall, how much importance did your previous employer place on physical health?
77 Overall, how much importance did your previous employer place on mental health?
78 Are you openly identified at work as a person with a mental health issue?
79 Has being identified as a person with a mental health issue affected your career?
80 How has it affected your career?
81 If they knew you suffered from a mental health disorder, how do you think that your team members/co-workers would react?
82 Describe the circumstances of the badly handled or unsupportive response.
83 Have you observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace?
84 Describe the circumstances of the supportive or well handled response.
85 Overall, how well do you think the tech industry supports employees with mental health issues?
86 Briefly describe what you think the industry as a whole and/or employers could do to improve mental health support for employees.
87 If there is anything else you would like to tell us that has not been covered by the survey questions, please use this space to do so.
88 Would you be willing to talk to one of us more extensively about your experiences with mental health issues in the tech industry? (Note that all interview responses would be used _anonymously_ and only with your permission.)
89 What is your race?
90 Do you think that discussing a physical health issue with your employer would have negative consequences?
91 Do you feel that your employer takes mental health as seriously as physical health?
92 If you have a mental health condition, do you feel that it interferes with your work?
93 Do you work remotely (outside of an office) at least 50% of the time?
94 Do you know the options for mental health care your employer provides?
95 Has your employer ever discussed mental health as part of an employee wellness program?
96 Does your employer provide resources to learn more about mental health issues and how to seek help?
97 How easy is it for you to take medical leave for a mental health condition?
98 Do you think that discussing a mental health issue with your employer would have negative consequences?
99 Would you be willing to discuss a mental health issue with your coworkers?
100 Would you be willing to discuss a mental health issue with your direct supervisor(s)?
101 Would you bring up a physical health issue with a potential employer in an interview?
102 Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?
103 Any additional notes or comments
104 Do you think that discussing a mental health disorder with your employer would have negative consequences?
105 Have you heard of or observed negative consequences for co-workers who have been open about mental health issues in your workplace?
106 If you have revealed a mental health issue to a client or business contact, do you believe this has impacted you negatively?
107 If you have revealed a mental health issue to a coworker or employee, do you believe this has impacted you negatively?
108 Do you think that discussing a mental health disorder with previous employers would have negative consequences?
109 Do you think that discussing a physical health issue with previous employers would have negative consequences?
110 Would you have been willing to discuss a mental health issue with your previous co-workers?
111 Did you feel that your previous employers took mental health as seriously as physical health?
112 Did you hear of or observe negative consequences for co-workers with mental health issues in your previous workplaces?
113 Do you feel that being identified as a person with a mental health issue would hurt your career?
114 Do you think that team members/co-workers would view you more negatively if they knew you suffered from a mental health issue?
115 If yes, what condition(s) have you been diagnosed with?
116 If maybe, what condition(s) do you believe you have?
117 Which of the following best describes your work position?
118 Do you work remotely?

### Overview Visualization of this database: